body, input {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(22, 100, 100);
}

.movie-table {
  margin: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto;
  row-gap: 10px;
  justify-content: stretch;
  justify-items: start;
  align-content: space-evenly;
};

.title-bar {
  background: paleturquoise;
};

.row {
  padding: 10px;
  border: 5px dashed mintcream;
  background: palegreen;
};

.btn {
  background: darkseagreen;
  width: 15px;
}